<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Cold Call</a>
    <ul id="nav" class="left">
      <li>{{#link-to 'classrooms'}}Classrooms{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{outlet}}